{{> header}}
<div class="container">
    <h2 class="text-center m-2">Enter Your Email</h2>
    {{#if err}}
    <div class="alert alert-danger" role="alert">
        <h3>Invalid Email</h3>
    </div>
    {{/if}}
    <form action="/findemailforchangepass" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>