{{> header}}
<div class="container">
    <h1 class="text-center m-2">Set Password</h1>
    {{#if succ}}
    <div class="alert alert-success" role="alert">
        {{succ}}
    </div>
    {{/if}}
    <form action="/changepassword" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Change Your Password</label>
            <input name="changepass" type="password" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>