{{> header}}
<div class="container">
    <h1 class="text-center mt-3">Sign In</h1>
    {{#if err}}
    <div class="alert alert-danger" role="alert">
        <h3>Invalid Email And Password</h3>
    </div>
    {{/if}}
    <form action="/logdata" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input name="pass" type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="my-2">
            <a href="/forgetpass" class="link-secondary">Forget Password</a>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>