{{> header}}
<div class="container">
    <form action="/getotp" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Enter OTP</label>
            <input name="otp" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>