{{> header}}
<div class="container">
    <h1 class="text-center mt-3">Sign Up</h1>

    {{#if err}}
    <div class="alert alert-danger" role="alert">
        <h3>Invalid Feilds</h3>
    </div>
    {{/if}}

    <form action="/regdata" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">User Name</label>
            <input name="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input name="pass" type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="formFileLg" class="form-label">Upload file:</label>
            <input class="form-control form-control-lg" name="avatar" id="formFileLg" type="file">
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</div>